enrichment.type=malicious_domain
enrichment.config.file=generated/full/triage/enrichments-storage.json

enrichment.source.skipfirstline=false
enrichment.source.columns=domain,source

parallelism=1

# uncomment for local enrichment
enrichment.topic.input=BRANCH.full.enrichments.input

flink.job.name=BRANCH.full.load.malicious_domain
