enrichment.type=majestic_million
enrichment.config.file=generated/full/triage/enrichments-storage.json

enrichment.source.skipfirstline=true
enrichment.source.columns=rank,TldRank,domain,TLD,RefSubNets,RefIPs,IDN_Domain,IDN_TLD,PrevGlobalRank,PrevTldRank,PrevRefSubNets,PrevRefIPs

parallelism=1

# uncomment for local enrichment
enrichment.topic.input=BRANCH.full.enrichments.input

flink.job.name=BRANCH.full.load.majestic_million
