.matching-field {
  margin-bottom: 10px;
}

.subchain-items {
  display: block;
  max-width: 330px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.parser-dirty {
  position: absolute;
  left: -4px;
  top: -9px;
}

.add-route {
  display: block;
  margin-bottom: 10px;
}

.parser-name-bar {
  padding-right: 30px;

  .parser-name {
    font-weight: bold;
    word-break: break-all;
  }

  .parser-name-input {
    font-weight: bold;
    width: 60%;
    border: none;
    border-bottom: 1px solid grey;
    background: none;

    &:focus {
      outline: none;
      border-bottom: 1px solid dodgerblue;
    }
  }
}

.parser-header-btn {
  color: grey;

  &:hover {
    color: inherit;
  }
}

.parser-delete-btn-wrapper {
  right: 8px;
  top: 8px;
  position: absolute;
}
