lombok.addLombokGeneratedAnnotation = true
config.stopbubbling=true

lombok.copyableannotations += org.apache.flink.shaded.jackson2.com.fasterxml.jackson.databind.annotation.JsonDeserialize
lombok.copyableannotations += com.fasterxml.jackson.annotation.JsonSubTypes
lombok.copyableannotations += com.fasterxml.jackson.annotation.JsonSubTypes.Type
lombok.copyableannotations += com.fasterxml.jackson.annotation.JsonTypeInfo