.add-field-button {
  display: block;
  margin-left: 3px;
}

.remove-field-button {
  margin-left: 3px;
}

nz-form-control textarea {
  max-width: 85%;
}

.anticon-info-circle { margin-left: 8px };

.input-group-container {
  align-items: center;
  display: flex;
  margin-bottom: .5rem;
}
