<h1>REST API configurations</h1>

<nz-table #nzTable [nzData]="data" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th>Name</th>
      <th>Endpoint</th>
      <th>Sources</th>
      <th>Prefix</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of nzTable.data">
      <tr>
        <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
        <td>{{ data.name }}</td>
        <td>{{ data.endpointTemplate }}</td>
        <td>{{ data.sources }}</td>
        <td>{{ data.prefix }}</td>
        <td>Configure</td>
      </tr>
      <tr [nzExpand]="expandSet.has(data.id)">
        <span>{{ data.description }}</span>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
