$md-cyber-blue-primary: (
  50 : #e4ebf1,
  100 : #bccedd,
  200 : #8fadc6,
  300 : #628caf,
  400 : #41749d,
  500 : #1f5b8c,
  600 : #1b5384,
  700 : #174979,
  800 : #12406f,
  900 : #0a2f5c,
  A100 : #90bcff,
  A200 : #5d9dff,
  A400 : #2a7eff,
  A700 : #106fff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$md-cyber-gray-secondary: (
  50 : #efefef,
  100 : #d7d7d7,
  200 : #bcbcbc,
  300 : #a1a1a1,
  400 : #8d8d8d,
  500 : #797979,
  600 : #717171,
  700 : #666666,
  800 : #5c5c5c,
  900 : #494949,
  A100 : #f7b6b6,
  A200 : #f28888,
  A400 : #ff4747,
  A700 : #ff2e2e,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

