<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Cloudera Cyber</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Home" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/jobs">Job Monitor</a>
          </li>          
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Investigation" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Dashboards</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>CDSW</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Streaming Queries</a>
          </li>          
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Sources" nzIcon="import">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/sources">Data Sources</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/parserconfig">Parser Types</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Enrichments" nzIcon="vertical-align-bottom">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/lists">Lists</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/hbase">Hbase</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/stix">STIX</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/maxmind/geo">GEO</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/maxmind/asn">ASN</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/rest">REST APIs</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/enrichments">Apply to Feeds</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Rules" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/rules">Scoring Rules</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Profiles" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/profiles">Profiles</a>
          </li>          
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet ></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
