.ant-card {
  color: grey;
  margin-bottom: 1em;

  .ant-card-body {
    padding: 0;
  }

  .ant-row {
    padding: .5em 1em;

    div {
      padding: 0 .2em .4em .2em;
    }

    .fieldName {
      font-weight: bold;
      word-break: break-word;
    }

    &.output {
      border-bottom: 1px solid grey;
    }
    &.log {
      background-color: #EEEEEE;
    }
  }

  &.error {
    border-left: 4px solid var(--warning);

    .log .message {
      color: red;
    }
  }

  &.info {
    border-left: 4px solid var(--cldr-slate);
  }

  .label {
    font-weight: bold;
  }
}

.pbp-container {
  padding-left: 2rem;
}

.ant-btn.ant-btn-link {
  padding-left: 0;
  height: auto;
  padding-bottom: .5rem;
}
