<nz-modal
        nzWidth="80%"
        [nzVisible]="diffModalVisible$ | async"
        nzTitle="Difference"
        nzCentered="true"
        [nzFooter]="modalFooter"
        [nzContent]="modalContent"
>
    <ng-template #modalContent>
        <app-text-diff-view
                [originalModel]="previousDiffValue$ | async"
                [modifiedModel]="newDiffValue$ | async">
        </app-text-diff-view>
    </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancelModal()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleOkModal()" >Ok</button>
  </ng-template>
</nz-modal>
