.ant-card {
  color: grey;
  margin-bottom: 1em;

  .ant-card-body {
    padding: 0;
  }

  .ant-row {
    padding: 0.5em 1em;

    div {
      padding: 0 0.2em 0.4em 0.2em;
    }

    .fieldName {
      font-weight: bold;
      word-break: break-word;
    }

    &.output {
      border-bottom: 1px solid grey;
    }
    &.log {
      background-color: #eeeeee;
    }
  }

  &.error {
    border-left: 4px solid var(--warning);

    .log .message {
      color: red;
    }
  }

  &.info {
    border-left: 4px solid var(--cldr-slate);
  }

  .label {
    font-weight: bold;
  }
}

.download-btn {
  margin-bottom: 1rem;
}

.output-item-container {
  display: flex;
}

.output-item-val {
  display: flex;
  align-items: flex-end;
}
