<mat-card>
  <mat-card-header>
    <mat-card-title>Pipeline Configuration</mat-card-title>
    <mat-card-subtitle>This is general pipeline configuration</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [style.height.vh]="70">
    <div class="flex-row-jsb-ab" *ngIf="vm$ | async as vm">
      <form [formGroup]="formGroup" class="flex-row-jsb-ab pipeline-form">
        <mat-form-field class="input-form" color="primary" appearance="outline">
          <mat-label>Pipeline name input</mat-label>
          <input matInput
                 type="text"
                 formControlName="pipelineName"
                 id="pipelineName"
                 label="pipeline name"
                 placeholder="pipeline name"
          >
        </mat-form-field>
        <mat-form-field class="input-form" color="primary" appearance="outline">
          <mat-label>Branch name input</mat-label>
          <input matInput
                 type="text"
                 id="branchName"
                 formControlName="branchName"
                 label="branch name"
                 placeholder="branch name">
        </mat-form-field>
        <mat-form-field class="input-form" color="primary" appearance="outline">
          <mat-label>Profile name input</mat-label>
          <input matInput
                 type="text"
                 formControlName="profileName"
                 id="profileName"
                 label="profile name"
                 placeholder="profile name"
          >
        </mat-form-field>
        <mat-form-field class="input-form" color="primary" appearance="outline">
          <mat-label>Cluster name select</mat-label>
          <mat-select formControlName="cluster" disableOptionCentering
                      panelClass="panel-class">
            <mat-option *ngFor="let cl of vm.cluster" [value]="cl.clusterMeta">
              {{ cl.clusterMeta.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="flex-row-jfs-ac">
      <span [style.font-size.px]="22"><b>Configuration Type:</b></span>
      <app-multi-button [style.margin-left.px]="120" [buttons]="buttons" defaultValue="Empty"
                        (valueChange)="selectPipelineMode($any($event))"></app-multi-button>
    </div>

    <div *ngIf="mode === 'Archive'">
      <div class="flex-row-jsb-ac" [style.min-height.px]="70">
        <mat-slide-toggle color="primary" [checked]="jobs.indexOf(jobsEnum.PARSER.value) !== -1"
                          (change)="toggleValueInArray( jobs , jobsEnum.PARSER.value)">{{ jobsEnum.PARSER.label }}
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" [checked]="jobs.indexOf(jobsEnum.TRIAGE.value) !== -1"
                          (change)="toggleValueInArray( jobs , jobsEnum.TRIAGE.value)">{{ jobsEnum.TRIAGE.label }}
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" [checked]="jobs.indexOf(jobsEnum.PROFILE.value) !== -1"
                          (change)="toggleValueInArray( jobs , jobsEnum.PROFILE.value)">{{ jobsEnum.PROFILE.label }}
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" [checked]="jobs.indexOf(jobsEnum.INDEX.value) !== -1"
                          (change)="toggleValueInArray( jobs , jobsEnum.INDEX.value)">{{ jobsEnum.INDEX.label }}
        </mat-slide-toggle>
      </div>

      <div class="container" appDragDrop (fileDropped)="onFileDropped($event)">
        <ng-container *ngIf="!file">
          <input type="file" id="fileDropRef" accept="application/gzip, .gz" (change)="fileBrowseHandler($event)"
                 [multiple]="false"/>
          <mat-icon>cloud_upload</mat-icon>
          <h3>Drag and drop file here</h3>
          <h3>or</h3>
          <label for="fileDropRef">Browse for file</label>
        </ng-container>
        <div *ngIf="file" class="flex-row-jc-ac">
          <mat-icon>file_copy</mat-icon>
          <span [style.margin-left.px]="5">{{ file?.name }}</span>
          <span [style.margin-left.px]="15">[size:{{ formatBytes(file?.size) }}]</span>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer class="flex-row-je">
    <button [style.margin.px]="15" mat-raised-button color="primary"
            [disabled]="formGroup.invalid"
            (click)="navigateToReceiver()">Next
    </button>
  </mat-card-footer>
</mat-card>
