<mat-card>
  <mat-card-header>
    <mat-card-title>Pipeline Configuration</mat-card-title>
    <mat-card-subtitle>This is general pipeline configuration</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="vm$ | async as vm;else loading" [style.height.vh]="70">
    <div class="flex-row-jsb-ab">
      <form [formGroup]="main" class="flex-row-jsb-ab horizontal-wrapper">
        <mat-form-field class="input-form" color="primary" appearance="outline">
          <mat-label>Pipeline name input</mat-label>
          <input matInput
                 type="text"
                 formControlName="pipelineName"
                 id="pipelineName"
                 label="pipeline name"
                 placeholder="pipeline name"
          >
          <mat-error>{{ errorMessage(main.get('pipelineName')) }}</mat-error>
        </mat-form-field>
        <mat-form-field class="input-form" color="primary" appearance="outline">
          <mat-label>Branch name input</mat-label>
          <input matInput
                 type="text"
                 id="branchName"
                 formControlName="branchName"
                 label="branch name"
                 placeholder="branch name">
          <mat-error>{{ errorMessage(main.get('branchName')) }}</mat-error>
        </mat-form-field>
        <mat-form-field class="input-form" color="primary" appearance="outline">
          <mat-label>Parser name input</mat-label>
          <input matInput
                 type="text"
                 formControlName="parserName"
                 id="parserName"
                 label="profile name"
                 placeholder="parser name"
          >
          <mat-error>{{ errorMessage(main.get('parserName')) }}</mat-error>
        </mat-form-field>
        <mat-form-field class="input-form" color="primary" appearance="outline">
          <mat-label>Profile name input</mat-label>
          <input matInput
                 type="text"
                 formControlName="profileName"
                 id="profileName"
                 label="profile name"
                 placeholder="profile name"
          >
          <mat-error>{{ errorMessage(main.get('profileName')) }}</mat-error>
        </mat-form-field>
        <mat-form-field class="input-form" color="primary" appearance="outline">
          <mat-label>Cluster name select</mat-label>
          <mat-select formControlName="cluster" disableOptionCentering
                      panelClass="panel-class">
            <mat-option *ngFor="let cl of vm.cluster" [value]="cl.clusterMeta">
              {{ cl.clusterMeta.name }}
            </mat-option>
          </mat-select>
          <mat-error>{{ errorMessage(main.get('cluster')) }}</mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="flex-row-jfs-ac" [style.margin-top.px]="30">
      <span class="text-container"><b>Configuration Type:</b></span>
      <app-multi-button [style.margin-left.px]="120" [buttons]="buttons" defaultValue="Empty"
                        (valueChange)="selectPipelineMode($any($event))"></app-multi-button>
    </div>

    <div *ngIf="mode !== 'Empty'">
      <div class="flex-row-jsb-ac horizontal-wrapper" [style.min-height.px]="70">
        <mat-slide-toggle color="primary" [checked]="jobs.indexOf(jobsEnum.PARSER.value) !== -1"
                          (change)="toggleValueInArray( jobs , jobsEnum.PARSER.value)">{{ jobsEnum.PARSER.label }}
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" [checked]="jobs.indexOf(jobsEnum.TRIAGE.value) !== -1"
                          (change)="toggleValueInArray( jobs , jobsEnum.TRIAGE.value)">{{ jobsEnum.TRIAGE.label }}
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" [checked]="jobs.indexOf(jobsEnum.PROFILE.value) !== -1"
                          (change)="toggleValueInArray( jobs , jobsEnum.PROFILE.value)">{{ jobsEnum.PROFILE.label }}
        </mat-slide-toggle>
        <mat-slide-toggle color="primary" [checked]="jobs.indexOf(jobsEnum.INDEX.value) !== -1"
                          (change)="toggleValueInArray( jobs , jobsEnum.INDEX.value)">{{ jobsEnum.INDEX.label }}
        </mat-slide-toggle>
      </div>

      <div *ngIf="mode === 'Archive'" class="container" appDragDrop (fileDropped)="onFileDropped($event)">
        <ng-container *ngIf="!fileControl.value else fileList">
          <input
                 type="file"
                 id="fileDropRef"
                 accept="application/gzip,.gz"
                 (change)="fileBrowseHandler($event)"
                 [multiple]="false"
                 />
          <mat-icon>cloud_upload</mat-icon>
          <h3>Drag and drop file here</h3>
          <h3>or</h3>
          <label for="fileDropRef">Browse for file</label>
        </ng-container>
        <ng-template #fileList class="flex-row-jc-ac">
          <mat-icon>file_copy</mat-icon>
          <span [style.margin-left.px]="5">{{ fileControl.value.name }}</span>
          <span [style.margin-left.px]="15">[size:{{ formatBytes(fileControl.value.size) }}]</span>
          <a title="Delete" (click)="deleteFile()">
            <mat-icon class="delete-icon">delete</mat-icon>
          </a>
        </ng-template>
      </div>
      <div *ngIf="mode === 'Git'">
        <form [formGroup]="git" class="flex-cl-jsb-ab horizontal-wrapper">
          <mat-form-field class="input-form" color="primary" appearance="outline">
            <mat-label>Git url</mat-label>
            <input matInput
                   type="text"
                   formControlName="url"
                   id="gitUrl"
                   label="git remote url"
                   placeholder="git remote url"
                   required
            >
            <mat-error>{{ errorMessage(git.get('url')) }}</mat-error>
          </mat-form-field>
          <mat-checkbox style="margin: 15px 10px;" color="primary" formControlName="authentication">Authentication</mat-checkbox>
          <div *ngIf="git.controls.authentication.value" class="flex-row-jfs-ac">
            <mat-form-field class="input-form" color="primary" appearance="outline">
              <mat-label>Git username</mat-label>
              <input matInput
                     type="text"
                     formControlName="username"
                     id="username"
                     label="git username"
                     placeholder="git username"
                     required
              >
              <mat-error>{{ errorMessage(git.get('username')) }}</mat-error>
            </mat-form-field>
            <mat-form-field style="margin-left: 15px;" class="input-form" color="primary" appearance="outline">
              <mat-label>Git password</mat-label>
              <input matInput
                     type="password"
                     formControlName="password"
                     id="password"
                     label="git password"
                     placeholder="git password"
                     required
              >
              <mat-error>{{ errorMessage(git.get('password')) }}</mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>

  </mat-card-content>
  <mat-card-footer class="flex-row-je">
    <button [style.margin.px]="15" mat-raised-button color="primary"
            [disabled]="main.invalid || git.invalid || fileControl.invalid"
            (click)="navigateToReceiver()">Next
    </button>
  </mat-card-footer>

  <ng-template #loading>
    <mat-card-content class="flex-row-jc-ac">
      <mat-progress-spinner
        [diameter]="150"
        color="primary"
        mode="indeterminate"
      >
      </mat-progress-spinner>
    </mat-card-content>
  </ng-template>
</mat-card>
