<h1>Ingest Jobs</h1>

<nz-table #nzTable [nzData]="mainJobs" nzTableLayout="fixed" nzShowPagination="false">
  <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th>Name</th>
      <th>Started</th>
      <th>Duration</th>
      <th>Current EPS</th>
      <th>Current Lag</th>
      <th>Savepoints</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of nzTable.data">
      <tr>
        <td [nzExpand]="expandSetMain.has(data.name)" (nzExpandChange)="onExpandMainChange(data.name, $event)"></td>
        <td>{{ data.name }}</td>
        <td>{{ data.start | date }}</td>
        <td>{{ data.duration }}</td>
        <td>{{ data.eps }}</td>
        <td>{{ data.lag }}</td>
        <td>{{ data.savepoints }}</td>
        <td>{{ data.status }}</td>
        <td><app-action-buttons [actions]="mainActions" [actionsPermitted]="data.actions" (action)="onAction(data, $event)"></app-action-buttons></td>
      </tr>
      <tr [nzExpand]="expandSetMain.has(data.name)">
        <span>{{ data.description }}</span>

      </tr>
    </ng-container>
  </tbody>
</nz-table>

<button nz-button nzType="primary" nzSize="large" nzShape="round"><i nz-icon nzType="plus"></i>Add job...</button>

<h1>Streaming SQL jobs</h1>

<nz-table #nzSqlTable [nzData]="sqlJobs" nzTableLayout="fixed" nzShowPagination="true">
  <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th>Query</th>
      <th>Start</th>
      <th>End</th>
      <th>Current Lag</th>
      <th>Lag</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of nzSqlTable.data">
      <tr>
        <td [nzExpand]="expandSetSQL.has(data.id)" (nzExpandChange)="onExpandSQLChange(data.id, $event)"></td>
        <td>{{ data.sql }}</td>
        <td>{{ data.start | date }}</td>
        <td>{{ data.end | date}}</td>
        <td>{{ data.lag }}</td>
        <td>{{ data.status }}</td>
        <td><app-action-buttons [actions]="sqlActions" [actionsPermitted]="data.actions" (action)="onSqlAction(data, $event)"></app-action-buttons></td>
      </tr>
      <tr [nzExpand]="expandSetSQL.has(data.id)">
        <span>{{ data.sql }}</span>
      </tr>
    </ng-container>
  </tbody>
</nz-table>

<button nz-button nzType="primary" nzSize="large" nzShape="round"><i nz-icon nzType="plus"></i>Add query...</button>
