<div [ngClass]="{
  parser: true,
  dirty: dirty
}">
  <nz-collapse>
    <nz-collapse-panel class="chain-item"
                        data-qe-id="chain-item"
                        [nzHeader]="titleTemplate"
                        [nzActive]="!collapsed"
                        [nzExtra]="extraTemplate"
                        [ngClass]="{ 'failed': parsingFailed  }">
      <nz-tabset>
        <nz-tab nzTitle="Configuration">
          <app-custom-form
            *ngIf="areFormsReadyToRender && configForm != null"
            [config]="configForm"
            (valueChange)="onCustomFormChange(parser, $event)"
          ></app-custom-form>
        </nz-tab>
        <nz-tab nzTitle="JSON View">
          <app-advanced-editor
            [config]="parser.config"
            (configChanged)="onAdvancedEditorChanged($event)"
            ></app-advanced-editor>
        </nz-tab>
      </nz-tabset>
    </nz-collapse-panel>
  </nz-collapse>

  <ng-template #titleTemplate>
    <div class="parser-name-bar">
      <span *ngIf="!editName" class="parser-name"
        nz-tooltip nzTitle="Click to edit name"
        (click)="editName=!editName; preventCollapse($event);"
        data-qe-id="parser-name"
        >{{ parser.name }}</span>
      <input *ngIf="editName" class="parser-name-input"
        type="text" [ngModel]="parser.name"
        (keydown.enter)="editName=!editName"
        (blur)="editName=!editName"
        (ngModelChange)="onParserNameChange($event)"
        (click)="preventCollapse($event)"
        AutoFocus
        data-qe-id="parser-name-input">
        &nbsp;- {{ parserType }}
    </div>
  </ng-template>

  <ng-template #extraTemplate>
    <div *ngIf="dirty" class="parser-dirty">
      <i nz-icon nzType="exclamation-circle" nzTheme="twotone" [nzTwotoneColor]="'#1890ff'"></i>
    </div>
    <div class="parser-delete-btn-wrapper" nz-tooltip nzTitle="Remove Parser">
      <button
        nz-popconfirm
        nzPopconfirmTitle="Are you sure delete this task?"
        (nzOnConfirm)="onRemoveParser(parser.id)"
        nzPopconfirmPlacement="right"
        nz-button
        nzType="link"
        data-qe-id="remove-parser"
        class="parser-header-btn"
        (click)="preventCollapse($event)"
      >
      <i nz-icon nzType="delete" nzTheme="fill"></i>
      </button>
    </div>
  </ng-template>
</div>
