<ng-template #AddButton>
  <button
    class="add-new-chain-button"
    nz-tooltip
    nzTooltipTitle="Add New Chain"
    nzTooltipPlacement="left"
    nz-button
    data-qe-id="add-chain-btn"
    nzType="primary"
    (click)="showAddChainModal()"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
  </button>
</ng-template>
<nz-modal
  [(nzVisible)]="isChainModalVisible"
  nzTitle="Add Chain Name"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="pushChain()"
  [nzOkDisabled]="!newChainForm.valid"
>
  <form [formGroup]="newChainForm" (ngSubmit)='pushChain()'>
    <input nz-input data-qe-id="chain-name" formControlName="chainName" type="text" id="chainName" placeholder="Parser Chain Name">
    <nz-form-explain *ngIf="chainName.dirty && chainName.errors && (chainName.errors.required || chainName.errors.minlength)">
      Chain Name is Required with atleast 3 characters
    </nz-form-explain>
  </form>
</nz-modal>

<nz-card nzTitle="Parser Chains" [nzExtra]="AddButton">
  <nz-table #basicTable [nzData]="chainDataSorted$ | async" [nzShowPagination]="false">
    <thead (nzSortChange)="sortDescription$.next($event)">
      <tr>
        <th nzShowSort nzSortKey="name">Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>
          <a routerLink="{{ 'chains/' + data.id }}" class="chain-open-btn"><i nz-icon nzType="right-square" nzTheme="fill"></i>Open</a>
          <nz-divider nzType="vertical"></nz-divider>
          <span nz-tooltip nzTitle="Remove" nzPlacement="right">
            <a
              class="chain-delete-btn"
              nz-popconfirm
              nzTitle="Are you Sure to Delete?"
              (nzOnConfirm)="deleteChain($event, data.id)"
              nzCancelText="No"
              nzOkText="Yes"
              nzOkType="primary"
              nzPlacement="right"
            >
              <i nz-icon nzType="delete" nzTheme="fill"></i> <span>Delete</span>
          </a>
        </span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
