<div class="container-fluid container-diff">
    <div class="row">
        <form class="form-inline" role="form">
           <div class="form-check mb-2 mr-sm-2">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" (change)="onChangeInline($any($event.target).checked)"> Inline Diff
                </label>
                <button
                       nz-button
                       class="update-expected-button"
                       nzType="default"
                       (click)="updateExpectedValueButtonClick($event)"
                       nz-tooltip
                       nzTooltipTitle="Update 'Expected result' with values from the 'Actual result'">
                   Update Expected result
                </button>
            </div>
        </form>
    </div>
    <div class="row editor">
        <ngx-monaco-diff-editor
          style="height: 100%"
          [options]="diffOptions"
          [originalModel]="originalModel"
          [modifiedModel]="modifiedModel"></ngx-monaco-diff-editor>
    </div>
</div>
